@{
    ViewData["Title"] = "Get to Know Joel";
}

    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
    <br/>
    <a href="https://baconsale.com/" target="_blank">Baconsale</a>

    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconSale.jpg" alt="Baconsale">
    </a>